# Pandas 실전연습
아마존 사이트에서 구입한 이력 데이터를 Pandas로 가져와 분석해봅시다!

## 1. 데이터 로드 및 확인

In [2]:
import pandas as pd

df = pd.read_csv('ecommerse.csv')
df

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

## 2. 데이터 조사

In [3]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [5]:
df.columns

Index(['Address', 'Lot', 'AM or PM', 'Browser Info', 'Company', 'Credit Card',
       'CC Exp Date', 'CC Security Code', 'CC Provider', 'Email', 'Job',
       'IP Address', 'Language', 'Purchase Price'],
      dtype='object')

In [6]:
df.shape

(10000, 14)

In [7]:
df['AM or PM']

0       PM
1       PM
2       PM
3       PM
4       AM
        ..
9995    PM
9996    AM
9997    AM
9998    PM
9999    AM
Name: AM or PM, Length: 10000, dtype: object

In [8]:
# PM이 몇개 있는지, AM이 몇개 있는지 확인 (개수 산출)
df['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [9]:
df['CC Provider'].value_counts()

JCB 16 digit                   1716
VISA 16 digit                  1715
JCB 15 digit                    868
American Express                849
Maestro                         846
Voyager                         829
Discover                        817
Mastercard                      816
VISA 13 digit                   777
Diners Club / Carte Blanche     767
Name: CC Provider, dtype: int64

In [13]:
df['Job'].value_counts()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Designer, jewellery              27
Purchasing manager               27
                                 ..
Prison officer                    7
Editor, film/video                6
Actuary                           6
Investment analyst                5
Information systems manager       5
Name: Job, Length: 623, dtype: int64

In [14]:
df['Language'].value_counts()

ru    1155
de    1155
el    1137
pt    1118
en    1098
fr    1097
es    1095
it    1086
zh    1059
Name: Language, dtype: int64

#### 총 구매금액의 평균을 구해보세요.

In [17]:
df['Purchase Price'].mean()

50.34730200000025

#### 웹사이트 언어로 영어(en)를 사용하는 사람은 몇명인가요?

In [28]:
len(df[df['Language'] == 'en'])

1098

In [27]:
df[df['Language'] == 'en']

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
11,"349 Laurie Parks\nThomasview, ID 08970",30 kK,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,Kim-Oliver,869975209012056,06/26,9717,JCB 15 digit,johnnymiller@coleman.com,Diagnostic radiographer,128.222.40.234,en,19.26
12,"733 Heather Rest Apt. 670\nBoltonport, UT 78662",69 DO,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_5_3 ...,Moore-Martin,5115990487067905,05/26,119,VISA 16 digit,tholt@hotmail.com,"Surveyor, quantity",236.71.234.240,en,39.65
22,"625 Laura Summit Suite 112\nShortmouth, AK 97156",45 oa,PM,Mozilla/5.0 (Windows 95) AppleWebKit/5342 (KHT...,Burnett Ltd,3158663456056588,07/22,508,Discover,chambersmichael@gmail.com,Retail manager,65.106.61.141,en,33.62
26,"5334 Sheppard Fort\nNorth Kirsten, ND 71170",40 ND,AM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_3)...,"Stephens, Johnson and Combs",60488441233,03/19,70,VISA 13 digit,mlogan@gmail.com,Barrister's clerk,61.197.134.185,en,17.75
31,USNS Alvarado\nFPO AA 27052-1231,26 Lh,PM,Opera/8.84.(X11; Linux i686; sl-SI) Presto/2.9...,Nicholson Group,4614997834548,03/22,909,Mastercard,ashley12@hotmail.com,Sales executive,94.176.142.201,en,94.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9961,"714 Joshua Ridges\nCarpenterville, NJ 37418",84 rK,PM,Opera/9.49.(X11; Linux i686; it-IT) Presto/2.9...,White-Wilson,3158062139581601,08/16,723,VISA 13 digit,justin11@porter-smith.info,"Nurse, mental health",40.218.118.68,en,23.96
9963,"3865 Davis Meadow Suite 915\nPort Stacieview, ...",11 fo,AM,Mozilla/5.0 (iPod; U; CPU iPhone OS 3_3 like M...,"Brown, Gentry and White",4295151255424068,07/25,764,JCB 15 digit,zjames@gmail.com,Surgeon,171.24.198.172,en,58.17
9970,"0060 Keith Stream\nWestport, CO 47097",11 nt,PM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_8...,"Carpenter, Good and Hart",6011485664704662,07/19,543,Discover,rangelbrian@hotmail.com,Electrical engineer,242.8.85.205,en,17.76
9973,"92126 Daniel Streets\nNorth Patricia, IA 10477",04 QN,PM,Mozilla/5.0 (Windows NT 5.2) AppleWebKit/5362 ...,Morrow Inc,501850922854,02/19,2708,American Express,rlewis@yahoo.com,"Editor, magazine features",201.88.164.123,en,83.30
9979,"00490 Joseph Haven Apt. 149\nWest Keithfurt, S...",69 XK,PM,Mozilla/5.0 (Windows NT 6.1) AppleWebKit/5311 ...,Randall-Ramirez,346734838013255,10/23,224,JCB 16 digit,qjohnson@yahoo.com,Lawyer,17.76.83.105,en,14.55

In [25]:
df['Language'].value_counts()['en']

1098

#### 고객들은 어떠한 직업을 가지고 있나요?

In [36]:
df['Job'].value_counts().keys()

Index(['Interior and spatial designer', 'Lawyer', 'Social researcher',
       'Designer, jewellery', 'Purchasing manager',
       'Research officer, political party', 'Designer, fashion/clothing',
       'Charity fundraiser', 'Dietitian', 'Social worker',
       ...
       'Technical brewer', 'Diplomatic Services operational officer',
       'Stage manager', 'Music therapist', 'Special effects artist',
       'Prison officer', 'Editor, film/video', 'Actuary', 'Investment analyst',
       'Information systems manager'],
      dtype='object', length=623)

In [37]:
list(df['Job'].value_counts().keys())

['Interior and spatial designer',
 'Lawyer',
 'Social researcher',
 'Designer, jewellery',
 'Purchasing manager',
 'Research officer, political party',
 'Designer, fashion/clothing',
 'Charity fundraiser',
 'Dietitian',
 'Social worker',
 'Special educational needs teacher',
 'Psychologist, clinical',
 'Designer, interior/spatial',
 'Engineer, water',
 'Sports therapist',
 'Therapist, art',
 'Network engineer',
 'Radio broadcast assistant',
 'Advice worker',
 'Secretary/administrator',
 'Scientist, clinical (histocompatibility and immunogenetics)',
 'Armed forces technical officer',
 'Television camera operator',
 'Geneticist, molecular',
 'Psychotherapist, dance movement',
 'Civil engineer, contracting',
 'Hydrologist',
 'Wellsite geologist',
 'Designer, multimedia',
 'Risk analyst',
 'Financial controller',
 'Brewing technologist',
 'Private music teacher',
 'Furniture conservator/restorer',
 'Market researcher',
 'Art therapist',
 'Buyer, retail',
 'Scientist, research (physical sciences)',
 'Administrator, arts',
 'Community pharmacist',
 'Claims inspector/assessor',
 'Copywriter, advertising',
 'Careers adviser',
 'Television production assistant',
 'Legal secretary',
 'Lecturer, higher education',
 'Warden/ranger',
 'Pension scheme manager',
 'Hydrogeologist',
 'Chiropodist',
 'Counselling psychologist',
 'Multimedia programmer',
 'Printmaker',
 'Automotive engineer',
 'Development worker, community',
 'Surveyor, rural practice',
 'Scientist, research (life sciences)',
 'Scientist, marine',
 'Engineer, land',
 'Therapist, drama',
 'Secretary, company',
 'Presenter, broadcasting',
 'Planning and development surveyor',
 'Nurse, mental health',
 "Barrister's clerk",
 'Clinical cytogeneticist',
 'Insurance claims handler',
 'Therapeutic radiographer',
 'Chartered management accountant',
 'Mining engineer',
 'Petroleum engineer',
 'Structural engineer',
 'Orthoptist',
 'Multimedia specialist',
 'Forest/woodland manager',
 'Chiropractor',
 'Clothing/textile technologist',
 'Furniture designer',
 'Marine scientist',
 'Optometrist',
 'Medical laboratory scientific officer',
 'Radiation protection practitioner',
 'Hotel manager',
 'Land/geomatics surveyor',
 'Musician',
 'Biomedical engineer',
 'Cartographer',
 'IT consultant',
 'Graphic designer',
 'Sales executive',
 'Engineer, building services',
 'English as a foreign language teacher',
 'Surveyor, land/geomatics',
 'Fish farm manager',
 'Drilling engineer',
 'Contracting civil engineer',
 'Sports administrator',
 'Training and development officer',
 'Producer, television/film/video',
 'Health promotion specialist',
 'Retail manager',
 'Early years teacher',
 'Immigration officer',
 'Ceramics designer',
 'Engineer, civil (contracting)',
 'Surveyor, mining',
 'Adult guidance worker',
 'Paramedic',
 'Location manager',
 'Equities trader',
 'Technical sales engineer',
 'Facilities manager',
 'Publishing copy',
 'Artist',
 'Nurse, adult',
 'Landscape architect',
 'Scientist, biomedical',
 'Air cabin crew',
 'Museum/gallery exhibitions officer',
 'Advertising art director',
 'Accountant, chartered',
 'Operational investment banker',
 'Psychotherapist, child',
 'Set designer',
 'Theatre director',
 'Medical sales representative',
 'Farm manager',
 'Health and safety adviser',
 'Print production planner',
 'Solicitor',
 'Pensions consultant',
 'Call centre manager',
 'Personal assistant',
 'Journalist, magazine',
 'Web designer',
 'Film/video editor',
 'Minerals surveyor',
 'Merchandiser, retail',
 'Legal executive',
 'Education officer, museum',
 'Quarry manager',
 'Medical technical officer',
 'Television floor manager',
 'Social research officer, government',
 'Dentist',
 'Best boy',
 'Occupational therapist',
 'Designer, ceramics/pottery',
 'Restaurant manager, fast food',
 'Engineer, maintenance (IT)',
 'Designer, furniture',
 'Electrical engineer',
 'Community arts worker',
 'Air traffic controller',
 'Sound technician, broadcasting/film/video',
 'Biomedical scientist',
 'Quantity surveyor',
 'Librarian, academic',
 'Economist',
 'Ecologist',
 'Production assistant, radio',
 'Scientist, product/process development',
 'Field seismologist',
 'Conservator, furniture',
 'Music tutor',
 'Cytogeneticist',
 'Clinical psychologist',
 'Oncologist',
 'Geophysical data processor',
 'Therapist, sports',
 'Analytical chemist',
 'Medical physicist',
 'Commercial/residential surveyor',
 'Psychologist, forensic',
 'Firefighter',
 'Air broker',
 'Further education lecturer',
 'Producer, radio',
 'Broadcast journalist',
 'Scientific laboratory technician',
 'Engineer, maintenance',
 'Production engineer',
 'Youth worker',
 'Engineer, broadcasting (operations)',
 'Customer service manager',
 'Jewellery designer',
 'Engineer, manufacturing',
 'Aid worker',
 'Ship broker',
 'Forensic scientist',
 'Event organiser',
 'Accountant, chartered certified',
 'Medical illustrator',
 'Psychiatrist',
 'Higher education lecturer',
 'Pathologist',
 'Engineer, materials',
 'Photographer',
 'Doctor, hospital',
 'Ergonomist',
 'Ambulance person',
 'Restaurant manager',
 'Journalist, broadcasting',
 'Control and instrumentation engineer',
 'Surveyor, building control',
 'Dealer',
 'Lobbyist',
 'Fisheries officer',
 'Hospital doctor',
 'Research scientist (medical)',
 'Energy manager',
 'Sport and exercise psychologist',
 'Therapist, horticultural',
 'Designer, television/film set',
 'Volunteer coordinator',
 'Psychologist, prison and probation services',
 'Curator',
 'Embryologist, clinical',
 'Water quality scientist',
 'English as a second language teacher',
 'Engineer, automotive',
 'Operations geologist',
 'Regulatory affairs officer',
 'Personnel officer',
 'Computer games developer',
 'International aid/development worker',
 'Field trials officer',
 'Careers information officer',
 'Scientist, audiological',
 'Emergency planning/management officer',
 'Nutritional therapist',
 'Chemical engineer',
 'Programmer, multimedia',
 'Textile designer',
 'Media planner',
 'Architectural technologist',
 'Veterinary surgeon',
 'Health and safety inspector',
 'Radio producer',
 'Conservation officer, historic buildings',
 'Acupuncturist',
 'Dance movement psychotherapist',
 'Geologist, wellsite',
 'Editorial assistant',
 'Merchant navy officer',
 'Sports development officer',
 'Chartered certified accountant',
 'Rural practice surveyor',
 'Accommodation manager',
 'Engineer, energy',
 'Building control surveyor',
 'Television/film/video producer',
 'Video editor',
 'IT trainer',
 'Materials engineer',
 'Financial manager',
 'Health physicist',
 'Production designer, theatre/television/film',
 'Surveyor, planning and development',
 'Occupational hygienist',
 'Agricultural consultant',
 'Insurance account manager',
 'Diagnostic radiographer',
 'Translator',
 'Clinical embryologist',
 'Applications developer',
 'Science writer',
 'Scientist, research (maths)',
 'Industrial/product designer',
 'Engineer, biomedical',
 'Editor, magazine features',
 'Industrial buyer',
 'Physiotherapist',
 'Therapist, music',
 'Editor, commissioning',
 'Teaching laboratory technician',
 'Logistics and distribution manager',
 'Commercial art gallery manager',
 'Horticultural consultant',
 'Lighting technician, broadcasting/film/video',
 'Cabin crew',
 'Psychiatric nurse',
 'Engineer, agricultural',
 'Charity officer',
 'Heritage manager',
 'Radiographer, diagnostic',
 'Local government officer',
 'Public relations officer',
 'Engineer, communications',
 'Scientist, forensic',
 'Systems developer',
 'Management consultant',
 'Engineer, electrical',
 'Fashion designer',
 'Biochemist, clinical',
 'Psychologist, counselling',
 'IT sales professional',
 'Surgeon',
 'Product/process development scientist',
 'Journalist, newspaper',
 'Osteopath',
 'Energy engineer',
 'Interpreter',
 'Tax adviser',
 'Teacher, secondary school',
 'Publishing rights manager',
 'Mudlogger',
 'Recycling officer',
 'Production assistant, television',
 'Operational researcher',
 'Teacher, primary school',
 'Futures trader',
 'Town planner',
 'Animator',
 'Maintenance engineer',
 'Museum education officer',
 "Nurse, children's",
 'Transport planner',
 'Clinical research associate',
 'Engineer, structural',
 'Secondary school teacher',
 'Arts administrator',
 'Estate manager/land agent',
 'Administrator',
 'Research officer, government',
 'Pharmacist, hospital',
 'Engineer, aeronautical',
 'Geochemist',
 'Nature conservation officer',
 'Land',
 'Geoscientist',
 'Horticultural therapist',
 'Public librarian',
 'Gaffer',
 'Administrator, charities/voluntary organisations',
 'Seismic interpreter',
 'Human resources officer',
 'Retail merchandiser',
 'Sub',
 'Insurance risk surveyor',
 'Communications engineer',
 'Designer, industrial/product',
 'Copy',
 'Librarian, public',
 'Chartered public finance accountant',
 'Fast food restaurant manager',
 'Chartered accountant',
 'Actor',
 'Accountant, chartered management',
 'Education officer, environmental',
 'Horticulturist, commercial',
 'Database administrator',
 'Information officer',
 'Corporate treasurer',
 'Animal technologist',
 'Glass blower/designer',
 'Primary school teacher',
 'Plant breeder/geneticist',
 'Historic buildings inspector/conservation officer',
 'Financial trader',
 'Educational psychologist',
 'Administrator, education',
 'Patent attorney',
 'Statistician',
 'Telecommunications researcher',
 'Astronomer',
 'Surveyor, minerals',
 'Geologist, engineering',
 'Electronics engineer',
 'Water engineer',
 'Public house manager',
 'Soil scientist',
 'Data processing manager',
 'Dramatherapist',
 'Software engineer',
 'Engineer, manufacturing systems',
 'Proofreader',
 'Surveyor, hydrographic',
 'Pilot, airline',
 'Risk manager',
 'Make',
 'TEFL teacher',
 'Programmer, systems',
 'Dancer',
 'Teacher, English as a foreign language',
 'Theme park manager',
 'Equality and diversity officer',
 'Psychologist, sport and exercise',
 'Phytotherapist',
 'Theatre stage manager',
 'Financial planner',
 'Occupational psychologist',
 'Mental health nurse',
 'General practice doctor',
 'Tourism officer',
 'Advertising account planner',
 'Loss adjuster, chartered',
 'Engineer, electronics',
 'Amenity horticulturist',
 'Holiday representative',
 'Teacher, special educational needs',
 'Community education officer',
 'Arts development officer',
 'Optician, dispensing',
 'Food technologist',
 'Herbalist',
 'Research officer, trade union',
 'Magazine features editor',
 'Building services engineer',
 'Surveyor, insurance',
 'Solicitor, Scotland',
 'Conference centre manager',
 'Archaeologist',
 'Engineer, control and instrumentation',
 'Designer, exhibition/display',
 'Education officer, community',
 'Recruitment consultant',
 'Passenger transport manager',
 'Newspaper journalist',
 'Commercial horticulturist',
 'Civil Service administrator',
 'Company secretary',
 'Catering manager',
 'Midwife',
 'Technical author',
 'Garment/textile technologist',
 'Sales professional, IT',
 'Medical secretary',
 'Buyer, industrial',
 'Higher education careers adviser',
 'Tax inspector',
 'Research scientist (physical sciences)',
 'Microbiologist',
 'Teacher, early years/pre',
 'Archivist',
 'Physicist, medical',
 'Insurance underwriter',
 'Museum/gallery conservator',
 'Probation officer',
 'Broadcast presenter',
 'Sports coach',
 'Leisure centre manager',
 'Scientist, physiological',
 'Animal nutritionist',
 'Government social research officer',
 'Architect',
 'Arboriculturist',
 'Community development worker',
 'Environmental manager',
 'Retail buyer',
 'Hospital pharmacist',
 'Designer, blown glass/stained glass',
 'Magazine journalist',
 'Office manager',
 'Freight forwarder',
 'Site engineer',
 'Surveyor, quantity',
 'Financial adviser',
 'Quality manager',
 'Consulting civil engineer',
 'Fine artist',
 'Chartered legal executive (England and Wales)',
 'Podiatrist',
 'Exercise physiologist',
 'Accountant, chartered public finance',
 'Scientist, research (medical)',
 'Advertising copywriter',
 'Warehouse manager',
 'Outdoor activities/education manager',
 'Camera operator',
 'Administrator, Civil Service',
 'Hydrographic surveyor',
 'Estate agent',
 'Psychologist, educational',
 'Chartered loss adjuster',
 'Agricultural engineer',
 'Lecturer, further education',
 'Development worker, international aid',
 'Airline pilot',
 'Advertising account executive',
 'Travel agency manager',
 "Politician's assistant",
 'Programmer, applications',
 'Tourist information centre manager',
 'Environmental consultant',
 'Retail banker',
 'Race relations officer',
 'Intelligence analyst',
 'Geographical information systems officer',
 'Theatre manager',
 'Chemist, analytical',
 'Investment banker, corporate',
 'Oceanographer',
 'Psychologist, occupational',
 'Dispensing optician',
 'Public relations account executive',
 'Licensed conveyancer',
 'Engineering geologist',
 'Engineer, production',
 'Paediatric nurse',
 'Armed forces logistics/support/administrative officer',
 'Horticulturist, amenity',
 'Therapist, nutritional',
 'Health visitor',
 'Homeopath',
 'Metallurgist',
 'Building surveyor',
 'Fitness centre manager',
 'IT technical support officer',
 'Engineer, mining',
 'Insurance broker',
 'Physiological scientist',
 'Games developer',
 'Commissioning editor',
 'Counsellor',
 'Engineer, chemical',
 'Aeronautical engineer',
 'Surveyor, building',
 'Police officer',
 'Trading standards officer',
 'Learning mentor',
 'Media buyer',
 'Psychotherapist',
 'Accounting technician',
 'Teacher, adult education',
 'Clinical biochemist',
 'Patent examiner',
 'Teacher, music',
 'Manufacturing engineer',
 'Armed forces operational officer',
 'Product designer',
 'Tree surgeon',
 'Clinical molecular geneticist',
 'Bonds trader',
 'Trade mark attorney',
 'Press photographer',
 'Therapist, occupational',
 'Environmental education officer',
 'Geophysicist/field seismologist',
 'Waste management officer',
 'Academic librarian',
 'Broadcast engineer',
 'Corporate investment banker',
 'Public affairs consultant',
 'Therapist, speech and language',
 'Engineer, drilling',
 'Engineer, civil (consulting)',
 'Housing manager/officer',
 'Environmental health practitioner',
 'Ophthalmologist',
 'Health service manager',
 'Pharmacologist',
 'Radiographer, therapeutic',
 'Manufacturing systems engineer',
 'Naval architect',
 'Barrister',
 'Pharmacist, community',
 'Runner, broadcasting/film/video',
 'Administrator, sports',
 'Research scientist (life sciences)',
 'Designer, textile',
 'Systems analyst',
 'Programme researcher, broadcasting/film/video',
 'Ranger/warden',
 'Learning disability nurse',
 'Visual merchandiser',
 'Production manager',
 'Research scientist (maths)',
 'Civil engineer, consulting',
 'Conservation officer, nature',
 'Education administrator',
 'Immunologist',
 'Colour technologist',
 'Meteorologist',
 'Engineer, site',
 'Exhibition designer',
 'Writer',
 'Conservator, museum/gallery',
 'Clinical scientist, histocompatibility and immunogenetics',
 'Tour manager',
 'Speech and language therapist',
 'Haematologist',
 'Civil Service fast streamer',
 'Mechanical engineer',
 'Engineer, petroleum',
 'Designer, graphic',
 'Museum/gallery curator',
 'Scientist, water quality',
 'Lexicographer',
 'Illustrator',
 'Press sub',
 'Records manager',
 'Banker',
 'Doctor, general practice',
 'Financial risk analyst',
 'Surveyor, commercial/residential',
 'Administrator, local government',
 'Trade union research officer',
 'Sales promotion account executive',
 'Marketing executive',
 'Armed forces training and education officer',
 'Investment banker, operational',
 'Adult nurse',
 'Senior tax professional/tax inspector',
 'Toxicologist',
 'Engineer, technical sales',
 'Forensic psychologist',
 'Child psychotherapist',
 'Nurse, learning disability',
 'Exhibitions officer, museum/gallery',
 'Art gallery manager',
 'Bookseller',
 'Audiological scientist',
 'Technical brewer',
 'Diplomatic Services operational officer',
 'Stage manager',
 'Music therapist',
 'Special effects artist',
 'Prison officer',
 'Editor, film/video',
 'Actuary',
 'Investment analyst',
 'Information systems manager']

#### 고객들이 직업별로 구매금액이 어떻게 될까요?

In [38]:
df_tmp = df[['Job', 'Purchase Price']]
df_tmp

                                         Job  Purchase Price
0     Scientist, product/process development           98.14
1                          Drilling engineer           70.73
2                   Customer service manager            0.95
3                          Drilling engineer           78.04
4                                Fine artist           77.82
...                                      ...             ...
9995                              Printmaker           82.21
9996                         Energy engineer           25.63
9997                      Veterinary surgeon           83.98
9998                Local government officer           38.84
9999                  Embryologist, clinical           67.59

[10000 rows x 2 columns]

In [39]:
df_tmp.groupby('Job')  # 직업 기준으로 그룹을 묶어주는 object 생성

In [40]:
df_tmp.groupby('Job').count()  # 직업 별 구매 건수

                                  Purchase Price
Job
Academic librarian                            11
Accommodation manager                         17
Accountant, chartered                         20
Accountant, chartered certified               18
Accountant, chartered management              15
...                                          ...
Water quality scientist                       18
Web designer                                  20
Wellsite geologist                            24
Writer                                        10
Youth worker                                  18

[623 rows x 1 columns]

In [45]:
df_tmp.groupby('Job').count().sort_values(by='Purchase Price')

                                   Purchase Price
Job
Investment analyst                              5
Information systems manager                     5
Actuary                                         6
Editor, film/video                              6
Stage manager                                   7
...                                           ...
Research officer, political party              27
Designer, jewellery                            27
Social researcher                              28
Lawyer                                         30
Interior and spatial designer                  31

[623 rows x 1 columns]

In [41]:
df_tmp.groupby('Job').mean()  # 직업 별 구매금액 평균

                                  Purchase Price
Job
Academic librarian                     47.951818
Accommodation manager                  37.038235
Accountant, chartered                  52.565500
Accountant, chartered certified        57.945000
Accountant, chartered management       69.082667
...                                          ...
Water quality scientist                46.526111
Web designer                           59.764500
Wellsite geologist                     51.309167
Writer                                 44.863000
Youth worker                           40.513333

[623 rows x 1 columns]

#### 어떤 직업을 가진 사람들이 가장 많은 직업을 지출했나요?

In [42]:
df_tmp.groupby('Job').sum()

                                  Purchase Price
Job
Academic librarian                        527.47
Accommodation manager                     629.65
Accountant, chartered                    1051.31
Accountant, chartered certified          1043.01
Accountant, chartered management         1036.24
...                                          ...
Water quality scientist                   837.47
Web designer                             1195.29
Wellsite geologist                       1231.42
Writer                                    448.63
Youth worker                              729.24

[623 rows x 1 columns]

In [43]:
df_tmp.groupby('Job').sum().sort_values(by='Purchase Price')

                             Purchase Price
Job
Art gallery manager                  219.05
Marketing executive                  234.08
Information systems manager          241.42
Actuary                              262.72
Music therapist                      327.50
...                                     ...
Clinical cytogeneticist             1495.92
Therapist, art                      1526.31
Purchasing manager                  1577.97
Lawyer                              1603.85
Dietitian                           1605.30

[623 rows x 1 columns]

#### bondellen@williams-garza.com  메일 주소를 가진 사용자의 구매이력을 찾아보세요.

In [46]:
df[df['Email'] == 'bondellen@williams-garza.com']

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1234,"2470 Maria Manors Suite 185\nJoneshaven, MN 87251",82 UX,PM,Mozilla/5.0 (X11; Linux x86_64; rv:1.9.5.20) G...,"Cole, King and Bowers",4926535242672853,09/21,188,American Express,bondellen@williams-garza.com,Planning and development surveyor,159.182.3.50,ru,77.88

#### MasterCard를 사용했으며 50달러 이상 구매한 사용자가 몇명인지?

In [55]:
df[ (df['CC Provider'] == 'Mastercard') & (df['Purchase Price'] >= 50) ]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
18,"461 Christopher Square\nWest Michaelchester, C...",17 SB,PM,Mozilla/5.0 (X11; Linux i686; rv:1.9.6.20) Gec...,"Beard, Abbott and Pena",6011350184276270,12/22,767,Mastercard,hannah63@yahoo.com,Photographer,73.250.176.201,el,70.15
31,USNS Alvarado\nFPO AA 27052-1231,26 Lh,PM,Opera/8.84.(X11; Linux i686; sl-SI) Presto/2.9...,Nicholson Group,4614997834548,03/22,909,Mastercard,ashley12@hotmail.com,Sales executive,94.176.142.201,en,94.14
35,"93392 Webb Gardens Apt. 220\nLaurabury, AR 999...",37 om,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Mora Ltd,6011049630969815,09/16,367,Mastercard,hgonzalez@mcdowell.com,"Lecturer, further education",216.23.95.40,zh,97.46
90,"431 Bowen Lights\nFergusonborough, MH 01362",31 tG,AM,Mozilla/5.0 (Windows NT 5.2; it-IT; rv:1.9.1.2...,Copeland-Lee,639032576097,06/18,868,Mastercard,nrogers@brown.com,"Teacher, English as a foreign language",153.188.13.203,es,78.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9941,"43757 Brown Lodge\nValerieberg, PR 88518",68 DG,AM,Mozilla/5.0 (compatible; MSIE 5.0; Windows NT ...,"Jones, Williams and Dunn",6011508474487291,04/26,906,Mastercard,christian55@gmail.com,Secondary school teacher,216.118.235.145,fr,60.03
9948,"95544 Johnson Isle Suite 939\nMichaelberg, RI ...",91 bW,AM,Opera/8.36.(X11; Linux x86_64; sl-SI) Presto/2...,Fox-Peterson,4762924304307,03/17,567,Mastercard,haleybenjamin@gmail.com,Structural engineer,120.36.140.58,en,71.89
9954,"051 Samantha Wells Apt. 328\nScottborough, OR ...",11 vG,AM,Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_8_2...,"Mendoza, Zimmerman and Reilly",30232295374907,05/21,762,Mastercard,brownamy@perkins.com,"Presenter, broadcasting",61.97.84.101,it,87.15
9981,"087 Larson Roads Apt. 587\nRicestad, WI 98077-...",95 Kw,AM,Opera/9.63.(Windows NT 5.01; en-US) Presto/2.9...,"Ortiz, Schultz and Adams",4690863684605,01/19,695,Mastercard,laurenbennett@richards.com,Environmental education officer,106.21.237.73,pt,63.61
9987,"2754 Klein Mission\nJohnsonview, PA 64925-9624",65 Fg,PM,Opera/9.26.(Windows CE; sl-SI) Presto/2.9.188 ...,Curtis LLC,180027305702263,12/24,865,Mastercard,denisehamilton@novak.biz,Primary school teacher,164.39.190.217,es,60.83

In [57]:
len(df[ (df['CC Provider'] == 'Mastercard') & (df['Purchase Price'] >= 50) ])

405

#### Windows를 사용하는 사용자는 몇명일까요? (Browser Info)

In [58]:
df['Browser Info']

0       Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...
1       Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...
2       Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
3       Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...
4       Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...
                              ...
9995    Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...
9996    Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
9997    Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...
9998    Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...
9999    Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...
Name: Browser Info, Length: 10000, dtype: object

In [59]:
df['Browser Info'].str  # 문자열로 취급하게 함

In [60]:
df['Browser Info'].str.contains('Windows')

0       False
1        True
2        True
3       False
4       False
        ...
9995     True
9996     True
9997    False
9998    False
9999    False
Name: Browser Info, Length: 10000, dtype: bool

In [61]:
df[df['Browser Info'].str.contains('Windows')]

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
6,"93971 Conway Causeway\nAndersonburgh, AZ 75107",96 Xt,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...,Gibson and Sons,6011398782655569,07/24,714,VISA 16 digit,olivia04@yahoo.com,Dancer,127.252.144.18,de,88.56
14,"8774 Jason Keys Suite 427\nEast Scottborough, ...",70 zH,AM,Mozilla/5.0 (Windows 98; it-IT; rv:1.9.2.20) G...,"Leach, Howe and Ferguson",869967499275071,09/22,427,VISA 16 digit,aburns@yahoo.com,Acupuncturist,50.25.148.1,de,24.18
15,"31730 Chelsea Crest\nBlakemouth, CT 90395-0620",41 Cj,PM,Opera/8.95.(Windows NT 5.0; en-US) Presto/2.9....,Garcia-Steele,180069437020404,04/25,404,Diners Club / Carte Blanche,amanda39@yahoo.com,Retail manager,53.176.235.33,el,71.78
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9988,"0154 Green Forest\nNew Timothy, IL 33670-4620",11 MC,AM,Mozilla/5.0 (compatible; MSIE 7.0; Windows 98;...,Williams-Walker,4207292109379681,10/16,571,Diners Club / Carte Blanche,hudsonmichael@pace.com,Charity fundraiser,136.169.160.82,de,89.76
9989,"5674 Cruz Trace\nNew Shelby, KY 51047-5469",12 Kf,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Vargas, Nichols and Martinez",5278049688438382,12/23,996,VISA 16 digit,walterswilliam@hotmail.com,Community development worker,39.162.164.169,pt,17.18
9991,"PSC 8165, Box 8498\nAPO AP 60327-0346",50 dA,AM,Mozilla/5.0 (compatible; MSIE 8.0; Windows NT ...,Snyder Inc,4221582137197481,02/24,969,Voyager,kking@wise-liu.com,IT sales professional,254.25.31.156,el,25.93
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63

In [62]:
len(df[df['Browser Info'].str.contains('Windows')])

4994